.root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.hidePlaceholder {
  display: none;
}

.actionBox {

}

.actionButton {

}

.styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.activeButton {
  composes: styleButton;
  color: #5890ff;

}

.controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.headerOne {

}

.headerTwo {

}

.headerThree {

}

.headerFive {

}

.headerSix {

}

.undecoratedListItem {

}

.orderedListItem {

}

.codeBlock {

}

.bold {

}

.italic {

}

.underline {

}

.code {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 2px;
}

.link {
  color: #3b5998;
  text-decoration: underline;
}

.urlInputContainer {
  margin-bottom: 10px;
}

