@value colors: '../../../../css/colors.scss';
@value label-color from colors;

.root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Source Serif Pro,Helvetica Neue,Helvetica,Arial,sans-serif';
  font-size: 1.8rem;
  padding: 15px;
  composes: marginHorizontalXSmall from '../../../../css/margins.scss';
}

.editor {
  /*border-top: 1px solid #ddd;*/
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}


.hidePlaceholder {
  display: none;
}

.blockquote {
  background: #e9f2f7;
  padding: 2rem;
  margin: 2rem 0;
  line-height: 1.6;
  font-size: 1.8rem;
}

.h2 {
  color: #1D1E1F;
  line-height: 1.3;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  width: 100%;

}

.h3 {
  line-height: 1.35;
  letter-spacing: 0.18rem;
  color: #1D1E1F;
  font-size: 2.0rem;
}

.text {
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  line-height: 1.6;
}

.caption {
  font-size: 1.8rem;
  position: relative;
  padding: 15px 0 0 44px;
  margin-bottom: 3rem;
  list-style-type: none;
}

.unorderedListItem {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.orderedListItem {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.urlInputContainer {
  margin-bottom: 10px;
}
