@value colors: '../../../../css/colors.scss';
@value label-color from colors;

.root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
  composes: marginHorizontalXSmall from '../../../../css/margins.scss';
}

.editor {
  /*border-top: 1px solid #ddd;*/
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}


.hidePlaceholder {
  display: none;
}

.blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.h1 {
  color: red;
  font-size: 2.4rem;
}

.h2 {

}
.text {
  color: blue;
}

.caption {

}

.code {

}






.undecoratedListItem {

}

.orderedListItem {

}

.bold {

}

.italic {

}

.underline {

}


.urlInputContainer {
  margin-bottom: 10px;
}

.header {
  /* TODO: figure out how to solve error,Order in extracted chunk undefined */
  font-size: 12px;
  font-size: 1.2rem;
  color: label-color;
}