@mixin solid-border($color) {
  border: 1px solid $color;
}

@mixin clear-float {
  content: "";
  display: block;
  clear: both;
}


@mixin after-clear-float {
  &::after {
    @include clear-float;
  }
}

@mixin same-line-height($line-height) {
  height: $line-height;
  line-height: $line-height;
}

@mixin font-size($size-value: 1.6) {
  font-size: ($size-value * 10) + px;
  font-size: $size-value + rem;
}

@mixin reset-ul-default-style {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

@mixin hover-opaque($opacity) {
  transition: $quick-transition;
  &:hover {
    cursor: pointer;
    opacity: $opacity;
  }
}

@mixin hover-animation {
  transition: $quick-transition;

  &:hover {
    cursor: pointer;
    background-color: lightgray !important;
    opacity: $weak-opaque;
  }
}
