@value colors: 'src/shared/css/colors.scss';
@value label-color, text-color, border-color, theme-color, error-color, strong-opaque from colors;
@value fonts: 'src/shared/css/fonts.scss';
@value font-xx-small, font-medium from fonts;

.root {
  composes: row from 'src/shared/css/flexboxgrids.scss';
  border-bottom: 1px solid #E0E0E0;
  padding: 6px;
}


.dropzone {
  composes: col-xs-12 from 'src/shared/css/flexboxgrids.scss';
  composes: marginToopXXSmall from 'src/shared/css/margins.scss';
  width: 100%;
  margin-top: 10px;
  max-height: 100px;
}

.dropzoneActive {
  composes: dropzone;
  backgroun-color: theme-color;
  opacity: strong-opaque;
}

.placeholder {
  display: block;
  width: 100%;
  line-height: 100px;
  color: #B3B3B3;
  font-size: calc(font-medium * 10) + px;
  font-size: font-medium + rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.previewImage {
  max-height: 100px;
}

.errorMessage {
  composes: placeholder;
  color: error-color;
}