.root {
  position: relative;
  background-color: #fff;
}

.rootIndex {
  position: relative;
  background-color: #fafafa;
}

.container {
  max-width: 740px;
  position: relative;
  margin: 0 auto;
  padding: 3rem;
  width: 80%;
}