@value colors: '../../../css/colors.scss';
@value label-color, border-color, theme-color, strong-opaque from colors;
@value fonts: '../../../css/fonts.scss';
@value font-xx-small from fonts;

.root {
  position: relative;
  width: 100%;
  height: 72px;
  font-size: 16px;
  line-height: 24px;
}

.header {
  composes: headerLabel from '../../../css/mixins.scss';
}

.content {

}

.tags {

}

.tagInput {
  composes: bottomBorder from '../../../css/mixins.scss';
  padding: 6px;

  input {
    height: 100%;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
    border: none;
  }
}

.selected {

}

.tag {
  composes: fontXXSmall from '../../../css/fonts.scss';
  composes: marginXXSmall from '../../../css/margins.scss';

  padding: 3px;
  color: white;
  background-color: theme-color;
  border: 1px solid theme-color;
}

.remove {
  composes: strongHoverOpaque from '../../../css/mixins.scss';

  margin-left: 3px;
  color: white;
  font-weight: bold;
}

.suggestions {
  composes: fontSmall from '../../../css/fonts.scss';
  position: absolute;
  width: 96%;
  border: 1px solid border-color;
  background: white;

  ul {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    list-style: none;
  }

  li {
    padding: 5px 20px;

    &:hover {
      background-color: theme-color;
      color: white;
      font-weight: bold;
    }
  }

  mark {
    color: inherit;
    background-color: inherit;
  }

}

