@value colors: 'src/shared/css/colors.scss';
@value label-color, border-color, theme-color, strong-opaque from colors;
@value fonts: 'src/shared/css/fonts.scss';
@value font-xx-small from fonts;

.root {
  margin: 20px 0;
  composes: fontMedium from 'src/shared/css/fonts.scss';

  position: relative;
  width: 100%;

}

.header {
  composes: headerLabel from 'src/shared/css/mixins.scss';
}

.content {

}

.tags {

}

.tagInput {
  border-bottom: 1px solid #E0E0E0;
  padding: 6px;
  margin-top: 10px;
  input {
    font-size: 16px;
    height: 100%;
    width: 100%;
    border: none;
  }
}

.selected {
  margin: 10px 0 5px;
}

.tag {
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  color: rgba(0,0,0,.6);
  background: rgba(0,0,0,.05);
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-right: 10px;

  &:hover {
    background: rgba(0,0,0,.1);
    color: rgba(0,0,0,.6);
  }
}

.remove {
  composes: strongHoverOpaque from 'src/shared/css/mixins.scss';

  margin-left: 10px;
  color: #3d3d3d;
  font-weight: bold;
}

.suggestions {
  composes: fontSmall from 'src/shared/css/fonts.scss';

  position: absolute;
  width: 96%;
  border: 1px solid border-color;
  background: white;
  z-index: 10;

  ul {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    list-style: none;
  }

  li {
    padding: 5px 20px;

    &:hover {
      background-color: theme-color;
      color: white;
      font-weight: bold;
    }
  }

  mark {
    color: inherit;
    background-color: inherit;
  }

}

