.root {
  composes: marginBottomMedium from '../../../../../shared/css/margins.scss';
  border-bottom: 1px solid #f3f3f3;
}

.title {
  font-size: 3.1rem;
  line-height: 1.12;
  letter-spacing: -.022em;
  font-weight: bold;
  color: #333333;
}

.leadSentence {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 4px;
  color: rgba(0,0,0,.6);
  word-break: break-word;
}

.tagItem {
  display: inline-flex;
  composes: marginTopXXSmall from '../../../../../shared/css/margins.scss';
  font-size: 1.4rem;
  color: #00AB6B;
}

.tagName {
  composes: marginLeftXXSmall from '../../../../../shared/css/margins.scss';
}

.publishDate {
  color: rgba(0,0,0,.44);
  text-align: right;
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

