*.rbc
capybara-*.html
.rspec
/coverage
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp

/node_modules
bundle.js
npm-debug.log

**.orig
rerun.txt
pickle-email-*.html


# Ignore uploadfiles
/public/uploads
/public/assets
.sass_cache

config/initializers/secret_token.rb
config/secrets.yml

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore other unneeded files.
.DS_Store
*.swp
*~
.project
.idea
.secret
/*.pem

# Ignore config files for local usage
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# Ignore files created by webpack
/app/assets/javascripts/client/bundle.js
/app/assets/javascripts/cms/bundle.js
/app/assets/stylesheets/client/style.scss
/app/assets/stylesheets/cms/style.scss
