$background-color: #E5E6E6;
$theme-color: #009688;
$text-color: #212121;
$border-color: #b6b6b6;
$label-color: #B3B3B3;

$weak-opaque: 0.7;
$moderate-opaque: 0.5;
$strong-opaque: 0.3;

$quick-transition: 0.5s;