.root {
  display: inline-flex;
  composes: marginRightXSmall from '../../../../../shared/css/margins.scss';
  composes: marginHorizontalXXSmall from '../../../../../shared/css/margins.scss';
  composes: fontXSmall from '../../../../../shared/css/fonts.scss';

  &:hover {
    cursor: pointer;
  }
}

.name {
  color: #fff;
  background-color: #5a6e79;
  border-radius: 4px;
  padding: 4px 8px;

}

