.form {
  margin: 20px auto;
  padding: 10px 15px;
  border: 1px solid $border-color;
  background: white;
  z-index: 1;
}

.form__heading {
  color: $text-color;
}

.form__label {
  color: $label-color;
  @include font-size($font-xx-small);
}

.form__help {
  text-align: right;
  color: $border-color;
}

.form__datepicker {

}