.tag-field {
  width: 100%;
  height: 72px;
  font-size: 16px;
  line-height: 24px;
}

.tag-field__header {
  color: #B3B3B3;
  @include font-size($font-xx-small);
}


.tag-field__tags {

}

.tag-field__input {

}

.tag-field__selected {

}

.tag-field__tag {

  padding: 2px;
  margin-right: 5px;
  margin-bottom: 3px;
  color: white;
  background-color: $theme-color;

  @include solid-border($theme-color);
  @include font-size($font-xx-small);
}


.tag-field__tag-input {
  padding: 6px;

  border-bottom: 1px solid $border-color;

  input {
    height: 100%;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
    border: none;
  }
}

.tag-field__remove {
  margin-left: 3px;
  color: white;
  font-weight: bold;

  @include hover-opaque($strong-opaque);
}

.tag-field__suggestions {
  ul {
    list-style: none;
    @include reset-ul-default-style;
  }

  li {
    @include hover-opaque($strong-opaque)
  }
}
