.root {
  position: relative;
}

.list {
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: 10;
}

.listButton {
  composes: hoverAnimation from "../../../../../../css/mixins.scss";
  border-radius: 24px;
}


.topButton {

}

.upButton {

}

.bottomButton {

}

.downButton {

}