.image {
  composes: marginBottomSmall from 'shared/css/margins.scss';

  display: block;
  max-width: 100%;
}


.list {
  composes: marginVerticalMedium from 'shared/css/margins.scss';

  display: flex;
}