.fontXXSmall___3oQsF {
  font-size: 10px;
  font-size: 1rem;
}

.fontXSmall___uAWua {
  font-size: 12px;
  font-size: 1.2rem;
}

.fontSmall___1QZX5 {
  font-size: 14px;
  font-size: 1.4rem;
}

.fontMedium___1LaXa {
  font-size: 16px;
  font-size: 1.6rem;
}

.fontLarge___1wJgr {
  font-size: 18px;
  font-size: 1.8rem;
}

.fontXLarge___2ogmI {
  font-size: 20px;
  font-size: 2.0rem;
}

.fontXXLarge___1F_2n {
  font-size: 25px;
  font-size: 2.5rem;
}








/* All Margin */
.marginXXSmall___3Lauj {
  margin: 5px;
}

.marginXSmall___31gZV {
  margin: 10px;
}

.marginSmall___3QJUi {
  margin: 20px;
}

.marginMedium___3AASV {
  margin: 30px;
}

.marginLarge___3CN6k {
  margin: 40px;
}

/* Horizontal Margin */
.marginHorizontalXXSmall___2HY29 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.marginHorizontalXSmall___5CAyT {
  margin-top: 10px;
  margin-bottom: 10px;
}

.marginHorizontalSmall___1cR2s {
  margin-top: 20px;
  margin-bottom: 20px;
}

.marginHorizontalMedium___1XajG {
  margin-top: 30px;
  margin-bottom: 30px;
}

.marginHorizontalLarge___1meei {
  margin-top: 40px;
  margin-bottom: 40px;
}


/* Vertical Margin */
.marginVerticalXXSmall___10C0o {
  margin-left: 5px;
  margin-right: 5px;
}

.marginVerticalXSmall___3GeQj {
  margin-left: 10px;
  margin-right: 10px;
}

.marginVerticalSmall___1fIhU {
  margin-left: 20px;
  margin-right: 20px;
}

.marginVerticalMedium___3yyfZ {
  margin-left: 30px;
  margin-right: 30px;
}

.marginVerticalLarge___3uzbW {
  margin-left: 40px;
  margin-right: 40px;
}


/* Top Margin */
.marginTopZero___2hO_F {
  margin-top: 0;
}

.marginTopXXSmall___PFzVZ {
  margin-top: 5px;
}

.marginTopXSmall___29-04 {
  margin-top: 10px;
}

.marginTopSmall___3Tyl1 {
  margin-top: 20px;
}

.marginTopMedium___1RRCc {
  margin-top: 30px;
}

.marginTopLarge___1QLtI {
  margin-top: 40px;
}

.marginTopXLarge___3Y9_Z {
  margin-top: 50px;
}

.marginTopXXLarge___2XfUK {
  margin-top: 100px;
}


/* Bottom Margin */
.marginBottomZero___2xI8L {
  margin-bottom: 0;
}

.marginBottomXXSmall___3nz0N {
  margin-bottom: 5px;
}

.marginBottomXSmall___1TD1i {
  margin-bottom: 10px;
}

.marginBottomSmall___3TbFj {
  margin-bottom: 20px;
}

.marginBottomMedium___3GB5b {
  margin-bottom: 30px;
}

.marginBottomLarge___fbfHC {
  margin-bottom: 40px;
}

.marginBottomXLarge___e-TAd {
  margin-bottom: 50px;
}

.marginBottomXXLarge___14WbV {
  margin-bottom: 100px;
}


/* Left Margin */
.marginLeftXXSmall___2AcAK {
  margin-left: 5px;
}

.marginLeftXSmall___2VSO- {
  margin-left: 10px;
}

.marginLeftSmall___2WF_a {
  margin-left: 20px;
}

.marginLeftMedium___3vLFT {
  margin-left: 30px;
}

.marginLeftLarge___1YIjG {
  margin-left: 40px;
}

.marginLeftXLarge___2kMat {
  margin-left: 50px;
}

.marginLeftXXLarge___XET9S {
  margin-left: 100px;
}


/* Right Margin */
.marginRightXXSmall___yJG1t {
  margin-right: 5px;
}

.marginRightXSmall___15EIf {
  margin-right: 10px;
}

.marginRightSmall___31RxV {
  margin-right: 20px;
}

.marginRightMedium___ON7gu {
  margin-right: 30px;
}

.marginRightLarge___2ohp9 {
  margin-right: 40px;
}

.marginRightXLarge___2zbTN {
  margin-right: 50px;
}

.marginRightXXLarge___3KGDg {
  margin-right: 100px;
}

.root___3ccXo {
  border-top : 1px solid #E6E6E6;
  height: 60px;
  line-height: 60px;
}

.text___2nWuz {
  display: block;
  text-align: center;
  opacity: 0.7;
  color: #8F8F8F;
}

.githubIcon___HGO8E {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.root___EtFA3 {
  margin-top: 8px;
  display: -webkit-inline-box;
  display: inline-flex;
}

.item___38fK6 {
  font-size: 1.4rem;
  color: #00AB6B;
  margin-left: 5px;
}
.root___3v-N5 {
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  color: rgba(0,0,0,.6);
  background: rgba(0,0,0,.05);
  padding: 5px 10px;
  margin-bottom: 15px;

  &:hover {
    background: rgba(0,0,0,.1);
    color: rgba(0,0,0,.6);
  }
}.root___leGh- {
  width: 100%;
  margin: 15px 0;
}.root___1X8N6 {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 1.8rem;
  padding: 15px;
}

.editor___2yWX3 {
  /*border-top: 1px solid #ddd;*/
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}


.hidePlaceholder___NLXqf {
  display: none;
}

.h2___2VzhK {
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin-left: -2.25px;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0,0,0,.8);
  -webkit-font-smoothing: antialiased;

  & + .text___3ZAwN {
    margin-top: 30px;
  }
}

.h3___Q3WAE {
  color: rgba(0,0,0,.44);
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  margin-left: -1.75px;
  line-height: 1.22;
  letter-spacing: -.022em;
  word-wrap: break-word;

  & + .text___3ZAwN {
    margin-top: 30px;
  }

}

.text___3ZAwN {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.8);
}


.blockquote___3-V9K {
  background: #f3f3f3;
  padding: 2rem;
  margin: 3rem 0;
}


.caption___1Efu5 {
  border-left: 3px solid rgba(0,0,0,.8);
  padding-left: 20px;
  margin-left: -23px;
  padding-bottom: 3px;
  margin-top: 30px;
}

.unorderedListItem___puaIq {
  padding-left: 5px;
}

.orderedListItem___oZHeo {
  padding-left: 5px;
}

.urlInputContainer___2gXfa {
  margin-bottom: 10px;
}
.root___3nnHW {
  color: #307EA9;
}
.root___rBVZH {
  background: #fff;
  font-family: 'Source Serif Pro,Helvetica Neue,Helvetica,Arial,sans-serif';
  font-size: 1.8rem;
  //padding: 15px;
}

.editor___1aMER {
  /*border-top: 1px solid #ddd;*/
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}
.root___1YMO4 {
  margin: 20px 0;
}
.root___31eXC {
  display: block;
  margin-bottom: 10px;
}

.image___uZf7p {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.caption___FK0sD {
  display: block;
  margin-top: 10px;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #797979;
  letter-spacing: 0;
  text-align: center;
}.root___3c9lv {
  border-top: 1px solid #ddd;
  position: relative;
  margin-top: 15px;
  padding: 10px 0;
  width: 100%;
  font-size: 1.8rem;
  line-height: 1.6;
  display: -webkit-inline-box;
  display: inline-flex;
  min-height: 80px;
  overflow: hidden;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

.box___2-7ym {
  display: -webkit-inline-box;
  display: inline-flex;
  width: 50%;
  color: #8F8F8F;
}

.prevBox___2BvcV {
  text-align: left;
}

.prevTitle___2OkGl {
  width: 85%;
  margin: auto 0;
  vertical-align: middle;

}

.nextTitle___qyab9 {
  width: 85%;
  margin: auto 0;
  vertical-align: middle;
}

.nextBox___1wy4f {
  text-align: right;

}
.root___3VZsy {
  min-height: 500px;
}

.heading___2_JSA {
  margin-bottom: 30px;
}

.title___I900e {
  font-size: 2.8rem;
  line-height: 1.12;
  letter-spacing: -.02em;
  font-weight: bold;
}

.leadSentence___3pwpE {
  font-size: 24px;
  margin-left: -1.5px;
  line-height: 1.18;
  letter-spacing: -.022em;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  color: rgba(0,0,0,.44);
}

.dateTime___394UP {
  padding: 10px 0;
  display: table-cell;
}

.time___2uUlr {
  margin-left: 5px;
  vertical-align: middle;
  color: #8F8F8F;
  font-size: 1.2rem;
}


.root___2eBaj {
  position: relative;
  margin-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f3f3f3;
}

.title___eBTFn {
  font-size: 28px;
  line-height: 1.12;
  letter-spacing: -.022em;
  font-weight: bold;
}


.imageContainer___cl__f {
  margin-top: 20px;
}

.image___1jcFV {
  max-width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.caption___1YC_q {
  display: block;
  margin-top: 5px;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #797979;
  letter-spacing: 0;
  text-align: center;
}

.description___3Byzv {
  padding-bottom: 5px;
  line-height: 1.6;
  font-size: 1.6rem;
  margin-bottom: 40px;
  font-family: Source Serif Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.button___-TWpQ {
  position: absolute;
  bottom: 1.5%;
  right: 1%;
  display: inline-block;
  height: 37px;
  padding: 0 16px;
  color: #009E5D;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #009E5D;
  vertical-align: bottom;
  white-space: nowrap;
  border-radius: 999em;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 35px;
  &:hover {
    color: #1c9963;

  }
}
.root___2zdju {
  color: #333333;
  min-height: 500px;
}


.title___P9rc1 {
  font-size: 2.4rem;
  line-height: 1.12;
  letter-spacing: -.022em;
  font-weight: 300;
  padding-bottom: 20px;
  border-bottom: 1px solid #f3f3f3;

}

.list___2Xmlt {
  padding-bottom: 15px;
}.root___29wsE {
  display: -webkit-box;
  display: flex;
  padding: 0;
  list-style: none;
}.root___3mvAx {

}
.root___1Eifd {
  min-height: 500px;
}

.title___Heki8 {
  color: rgba(0,0,0,.8);
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0;
}

.description___26uj7 {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-top: 4px;
}


.subHeading___2KmKX {
  font-size: 2.2rem;
  border-bottom: 1px solid #f3f3f3;
  margin-top: 30px;

}

.siteDescription___2GbEF {
  margin-top: 20px;
}

.text___1IFeQ {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0, 0, 0, 0.8);
}.root___3Gbsm {
  position: relative;
}

.container___2m1hB {
  max-width: 740px;
  position: relative;
  margin: 0 auto;
  padding: 3rem;
  width: 80%;
}
.fontXXSmall___3I60a {
  font-size: 10px;
  font-size: 1rem;
}

.fontXSmall___1ziQ7 {
  font-size: 12px;
  font-size: 1.2rem;
}

.fontSmall___2Ut97 {
  font-size: 14px;
  font-size: 1.4rem;
}

.fontMedium___ZfAj_ {
  font-size: 16px;
  font-size: 1.6rem;
}

.fontLarge___2nc55 {
  font-size: 18px;
  font-size: 1.8rem;
}

.fontXLarge___3Rhmn {
  font-size: 20px;
  font-size: 2.0rem;
}

.fontXXLarge___2ftsA {
  font-size: 25px;
  font-size: 2.5rem;
}








.clearFloat___2h9If::after {
  content: "";
  display: block;
  clear: both;
}

.resetUlDefaultStyle___2OVg0 {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  list-style: none;
}

.hoverAnimation___2Sap3 {
  -webkit-transition: 0.5s;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    background-color: lightgray !important;
    opacity: 0.3;
  }
}

.strongHoverOpaque___1q3iI {
  -webkit-transition: 0.5s;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.headerLabel___7_6E5 {
  color: #B3B3B3;
}

.bottomBorder___1B_N3 {
  border-bottom: 1px solid #b6b6b6;
}

.button___2orZ5 {
  border-radius: 48px;
}

.toggleButton___UwkoU {
}

.deleteButton___pYwSo {
}

.visibleIcon___uCde7 {

}

.inVisibleIcon___2DQFV {

}.root___1OTNU {
  display: -webkit-box;
  display: flex;
  float: right;
  color: #B3B3B3,
}

.text___2EOzN {
  line-height: 48px;
}.root___hErPu {
  color: #333333;
  min-height: 500px;
}

.title___36VmY {
  color: rgba(0,0,0,.8);
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 5px;
}.root___2Khya {
  margin: 0 2.5%;
}

.button___24rEr {
  border-radius: 48px;
}

.icon___3_dY4 {
  width: 100%;
  height: 100%;
}.root___17ynZ {
  margin-top: 50px;
}

.list___2jWyB {
  list-style: none;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  padding: 0;
  width: 70%;
  margin: 0 15%;
}.root___1PGHE {
  position: relative;
}

.list___3_xBP {
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: 10;
}

.listButton___3IgCX {
  border-radius: 24px;
}


.topButton___tepfm {

}

.upButton___idC0M {

}

.bottomButton___2OEb4 {

}

.downButton___3pxaM {

}/* Uncomment and set these variables to customize the grid. */

.container-fluid___3n1Mh {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row___3i9t8 {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.row___3i9t8.reverse___2QNJ5 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col___2lPkx.reverse___2QNJ5 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.col-xs___2JgBI,
.col-xs-1___Pdd2G,
.col-xs-2___15OEB,
.col-xs-3___2S53c,
.col-xs-4___3VNuJ,
.col-xs-5___1QOdD,
.col-xs-6___fGJl3,
.col-xs-7___2GzFo,
.col-xs-8___2Fzjr,
.col-xs-9___dxb3U,
.col-xs-10___1qE6m,
.col-xs-11___1l8Tc,
.col-xs-12___1VROf {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-xs___2JgBI {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1___Pdd2G {
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2___15OEB {
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3___2S53c {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4___3VNuJ {
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5___1QOdD {
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6___fGJl3 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7___2GzFo {
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8___2Fzjr {
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9___dxb3U {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10___1qE6m {
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11___1l8Tc {
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12___1VROf {
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1___A6Ql4 {
  margin-left: 8.333%;
}

.col-xs-offset-2___-f4AQ {
  margin-left: 16.667%;
}

.col-xs-offset-3___BhOfI {
  margin-left: 25%;
}

.col-xs-offset-4___1nYK- {
  margin-left: 33.333%;
}

.col-xs-offset-5___1BfD- {
  margin-left: 41.667%;
}

.col-xs-offset-6___10uX9 {
  margin-left: 50%;
}

.col-xs-offset-7___2dxyn {
  margin-left: 58.333%;
}

.col-xs-offset-8___2xLs8 {
  margin-left: 66.667%;
}

.col-xs-offset-9___rj-43 {
  margin-left: 75%;
}

.col-xs-offset-10___4jnvw {
  margin-left: 83.333%;
}

.col-xs-offset-11___RQqrQ {
  margin-left: 91.667%;
}

.start-xs___2BaPV {
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs___1suTy {
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs___2KsBj {
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs___1-cmq {
  -webkit-box-align: start;
  -ms-grid-row-align: flex-start;
      align-items: flex-start;
}

.middle-xs___2hLAY {
  -webkit-box-align: center;
  -ms-grid-row-align: center;
      align-items: center;
}

.bottom-xs___4ukDO {
  -webkit-box-align: end;
  -ms-grid-row-align: flex-end;
      align-items: flex-end;
}

.around-xs___jDDqh {
  justify-content: space-around;
}

.between-xs___1o-5n {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs___2M_vv {
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs___394kn {
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .container___Hoavw {
    width: 46rem;
  }

  .col-sm___2kp4L,
  .col-sm-1___2BEL3,
  .col-sm-2___3rbyS,
  .col-sm-3___2BqFJ,
  .col-sm-4___1-ysq,
  .col-sm-5___1m0GQ,
  .col-sm-6___3e3si,
  .col-sm-7___1NAWK,
  .col-sm-8___2tPc3,
  .col-sm-9___2Bu5c,
  .col-sm-10___3s35w,
  .col-sm-11___3QmDF,
  .col-sm-12___10Rtn {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm___2kp4L {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1___2BEL3 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-sm-2___3rbyS {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-sm-3___2BqFJ {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4___1-ysq {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-sm-5___1m0GQ {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-sm-6___3e3si {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7___1NAWK {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-sm-8___2tPc3 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-sm-9___2Bu5c {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10___3s35w {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-sm-11___3QmDF {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-sm-12___10Rtn {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-1___2zq-C {
    margin-left: 8.333%;
  }

  .col-sm-offset-2___1P1Y7 {
    margin-left: 16.667%;
  }

  .col-sm-offset-3___1CwmN {
    margin-left: 25%;
  }

  .col-sm-offset-4___3O-Kc {
    margin-left: 33.333%;
  }

  .col-sm-offset-5___24obL {
    margin-left: 41.667%;
  }

  .col-sm-offset-6___28HV6 {
    margin-left: 50%;
  }

  .col-sm-offset-7___3DdLX {
    margin-left: 58.333%;
  }

  .col-sm-offset-8___NGOGl {
    margin-left: 66.667%;
  }

  .col-sm-offset-9___d-z2y {
    margin-left: 75%;
  }

  .col-sm-offset-10___1HVx0 {
    margin-left: 83.333%;
  }

  .col-sm-offset-11___21fdt {
    margin-left: 91.667%;
  }

  .start-sm___3B4Xl {
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm___3dQmf {
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm___1INLx {
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm___1Vfv9 {
    -webkit-box-align: start;
    -ms-grid-row-align: flex-start;
        align-items: flex-start;
  }

  .middle-sm___AP3Dm {
    -webkit-box-align: center;
    -ms-grid-row-align: center;
        align-items: center;
  }

  .bottom-sm___1YHuW {
    -webkit-box-align: end;
    -ms-grid-row-align: flex-end;
        align-items: flex-end;
  }

  .around-sm___Lrra_ {
    justify-content: space-around;
  }

  .between-sm___8NGmO {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-sm___3fn7Y {
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-sm___1bSq1 {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 62em) {
  .container___Hoavw {
    width: 61rem;
  }

  .col-md___cCzpK,
  .col-md-1___1ghdu,
  .col-md-2___nKCoy,
  .col-md-3___3GOlp,
  .col-md-4___xyCIQ,
  .col-md-5___I1Y_B,
  .col-md-6___23YrL,
  .col-md-7___3Imch,
  .col-md-8___3uo9H,
  .col-md-9___3p2NM,
  .col-md-10___83NHJ,
  .col-md-11___1TWJV,
  .col-md-12___1Or0N {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md___cCzpK {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1___1ghdu {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-md-2___nKCoy {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-md-3___3GOlp {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4___xyCIQ {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-md-5___I1Y_B {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-md-6___23YrL {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7___3Imch {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-md-8___3uo9H {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-md-9___3p2NM {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10___83NHJ {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-md-11___1TWJV {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-md-12___1Or0N {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-1___1xLhG {
    margin-left: 8.333%;
  }

  .col-md-offset-2___A9ra4 {
    margin-left: 16.667%;
  }

  .col-md-offset-3___2Sgbg {
    margin-left: 25%;
  }

  .col-md-offset-4___3xiyx {
    margin-left: 33.333%;
  }

  .col-md-offset-5___1yC1L {
    margin-left: 41.667%;
  }

  .col-md-offset-6___E8J7r {
    margin-left: 50%;
  }

  .col-md-offset-7___1WUFe {
    margin-left: 58.333%;
  }

  .col-md-offset-8___2NjaQ {
    margin-left: 66.667%;
  }

  .col-md-offset-9___2bUCT {
    margin-left: 75%;
  }

  .col-md-offset-10___1v4ta {
    margin-left: 83.333%;
  }

  .col-md-offset-11___hpFDU {
    margin-left: 91.667%;
  }

  .start-md___1PLAe {
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md___Yj2JY {
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md___smf4q {
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md___3oQek {
    -webkit-box-align: start;
    -ms-grid-row-align: flex-start;
        align-items: flex-start;
  }

  .middle-md___2ND1S {
    -webkit-box-align: center;
    -ms-grid-row-align: center;
        align-items: center;
  }

  .bottom-md___15eQP {
    -webkit-box-align: end;
    -ms-grid-row-align: flex-end;
        align-items: flex-end;
  }

  .around-md___1fHgt {
    justify-content: space-around;
  }

  .between-md___1ma8t {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-md___35s8X {
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-md___3aBx0 {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .container___Hoavw {
    width: 71rem;
  }

  .col-lg___Y1xFg,
  .col-lg-1___2kUxn,
  .col-lg-2___3eKtQ,
  .col-lg-3___3hJXH,
  .col-lg-4___17Wa_,
  .col-lg-5___3ePma,
  .col-lg-6___e2mxe,
  .col-lg-7___1xrNG,
  .col-lg-8___1BKjZ,
  .col-lg-9___35Sqv,
  .col-lg-10___3zfGW,
  .col-lg-11___2qeiF,
  .col-lg-12___1PKnO {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg___Y1xFg {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1___2kUxn {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-lg-2___3eKtQ {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-lg-3___3hJXH {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4___17Wa_ {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-lg-5___3ePma {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-lg-6___e2mxe {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7___1xrNG {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-lg-8___1BKjZ {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-lg-9___35Sqv {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10___3zfGW {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-lg-11___2qeiF {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-lg-12___1PKnO {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-1___39PGU {
    margin-left: 8.333%;
  }

  .col-lg-offset-2___1D2iU {
    margin-left: 16.667%;
  }

  .col-lg-offset-3___1XmYL {
    margin-left: 25%;
  }

  .col-lg-offset-4___AF66I {
    margin-left: 33.333%;
  }

  .col-lg-offset-5___OHmzU {
    margin-left: 41.667%;
  }

  .col-lg-offset-6___tm5PW {
    margin-left: 50%;
  }

  .col-lg-offset-7___2WVgi {
    margin-left: 58.333%;
  }

  .col-lg-offset-8___3hZnz {
    margin-left: 66.667%;
  }

  .col-lg-offset-9___2NPPk {
    margin-left: 75%;
  }

  .col-lg-offset-10___2YmRy {
    margin-left: 83.333%;
  }

  .col-lg-offset-11___2H1mV {
    margin-left: 91.667%;
  }

  .start-lg___G5pNm {
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg___12x7u {
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg___-Dopn {
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg___B6LYj {
    -webkit-box-align: start;
    -ms-grid-row-align: flex-start;
        align-items: flex-start;
  }

  .middle-lg___1YRBA {
    -webkit-box-align: center;
    -ms-grid-row-align: center;
        align-items: center;
  }

  .bottom-lg___9nPjf {
    -webkit-box-align: end;
    -ms-grid-row-align: flex-end;
        align-items: flex-end;
  }

  .around-lg___C6UMK {
    justify-content: space-around;
  }

  .between-lg___1ShS9 {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-lg___29pwY {
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-lg___2Y1Tu {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
/* All Margin */
.marginXXSmall___1-l67 {
  margin: 5px;
}

.marginXSmall___pTCFO {
  margin: 10px;
}

.marginSmall___u5RC_ {
  margin: 20px;
}

.marginMedium___3MnqG {
  margin: 30px;
}

.marginLarge___1Y3vu {
  margin: 40px;
}

/* Horizontal Margin */
.marginHorizontalXXSmall___2FGGd {
  margin-top: 5px;
  margin-bottom: 5px;
}

.marginHorizontalXSmall___2m9N9 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.marginHorizontalSmall___1qqun {
  margin-top: 20px;
  margin-bottom: 20px;
}

.marginHorizontalMedium___3XQ3G {
  margin-top: 30px;
  margin-bottom: 30px;
}

.marginHorizontalLarge___3HehQ {
  margin-top: 40px;
  margin-bottom: 40px;
}


/* Vertical Margin */
.marginVerticalXXSmall___3T9GB {
  margin-left: 5px;
  margin-right: 5px;
}

.marginVerticalXSmall___gWBkd {
  margin-left: 10px;
  margin-right: 10px;
}

.marginVerticalSmall___26NLP {
  margin-left: 20px;
  margin-right: 20px;
}

.marginVerticalMedium___2wrMR {
  margin-left: 30px;
  margin-right: 30px;
}

.marginVerticalLarge___3ecIO {
  margin-left: 40px;
  margin-right: 40px;
}


/* Top Margin */
.marginTopZero___1fAaV {
  margin-top: 0;
}

.marginTopXXSmall___Xbhgg {
  margin-top: 5px;
}

.marginTopXSmall___3Skq6 {
  margin-top: 10px;
}

.marginTopSmall___X6km9 {
  margin-top: 20px;
}

.marginTopMiddle___19Wtl {
  margin-top: 30px;
}

.marginTopLarge___3KvZp {
  margin-top: 40px;
}

.marginTopXLarge___1w4Hr {
  margin-top: 50px;
}

.marginTopXXLarge___245yx {
  margin-top: 100px;
}


/* Bottom Margin */
.marginBottomZero___3qx2U {
  margin-bottom: 0;
}

.marginBottomXXSmall___2mpBl {
  margin-bottom: 5px;
}

.marginBottomXSmall___1CqUs {
  margin-bottom: 10px;
}

.marginBottomSmall___3P-s8 {
  margin-bottom: 20px;
}

.marginBottomMiddle___2qT5s {
  margin-bottom: 30px;
}

.marginBottomLarge___26A0l {
  margin-bottom: 40px;
}

.marginBottomXLarge___2OwvG {
  margin-bottom: 50px;
}

.marginBottomXXLarge___3cDwV {
  margin-bottom: 100px;
}


/* Left Margin */
.marginLeftXXSmall___3CFEL {
  margin-left: 5px;
}

.marginLeftXSmall___1tUjC {
  margin-left: 10px;
}

.marginLeftSmall___2Q8No {
  margin-left: 20px;
}

.marginLeftMiddle___wJyrp {
  margin-left: 30px;
}

.marginLeftLarge___MaMtj {
  margin-left: 40px;
}

.marginLeftXLarge___3ZQep {
  margin-left: 50px;
}

.marginLeftXXLarge___181S7 {
  margin-left: 100px;
}


/* Right Margin */
.marginRightXXSmall___NU79B {
  margin-right: 5px;
}

.marginRightXSmall___3E8tf {
  margin-right: 10px;
}

.marginRightSmall___2DRNL {
  margin-right: 20px;
}

.marginRightMiddle___3ea7K {
  margin-right: 30px;
}

.marginRightLarge___2j0D9 {
  margin-right: 40px;
}

.marginRightXLarge___28jRc {
  margin-right: 50px;
}

.marginRightXXLarge___12BHy {
  margin-right: 100px;
}

.root___132mP {
  padding: 6px;
}

.header___3p-Kq {
}

.dropzone___1FLAt {
  width: 100%;
  margin-top: 10px;
  max-height: 100px;
}

.dropzoneActive___Q-CMT {
  backgroun-color: #009688;
  opacity: 0.3;
}

.placeholder___3Cp7q {
  display: block;
  width: 100%;
  line-height: 100px;
  color: #212121;
  font-size: calc(1.6 * 10) + px;
  font-size: 1.6 + rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.previewImage___8Qc-p {
  max-height: 100px;
}

.errorMessage___3tPC4 {
  color: #D32F2F;
}.root___25Dvc {
  position: relative;
}

.inputText___1lw_a {

}

.header___1zo74 {
  color: #B3B3B3;
  font-size: calc(1.2 * 10) + px;
  font-size: 1.2 + rem;
}

.submitBox___1ZPSK {
  float: right;
}

.dropzone___3pgCT {
  width: 100%;
  height: 100px;
  border: 0;
  line-height: 100px;

  &:hover {
    cursor: pointer;
  }
}

.dropzoneHelp___1bba2 {
  text-align: center;
  font-size: calc(1.6 * 10) + px;
  font-size: 1.6 + rem;
}

.previewImage___eloFe {

}

.errorMessage___3ZdsV {

}


.submitButton___1IhvC {

}


.cancelButton___4xTOU {

}.button___3903E {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.activeButton___3mXcf {
  color: #5890ff;
}

.controls___2nAXV {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.root___2SSIY {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.root___79Wb0 {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button___exVsT {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.root___2LWdG {
  margin: 20px 0;

  position: relative;
  width: 100%;

}

.header___19elt {
}

.content___1d4Ra {

}

.tags___Q0egu {

}

.tagInput___28PFF {
  border-bottom: 1px solid #E0E0E0;
  padding: 6px;
  margin-top: 10px;
  input {
    font-size: 16px;
    height: 100%;
    width: 100%;
    border: none;
  }
}

.selected___1ebGa {
  margin: 10px 0 5px;
}

.tag___2iHKb {
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  color: rgba(0,0,0,.6);
  background: rgba(0,0,0,.05);
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-right: 10px;

  &:hover {
    background: rgba(0,0,0,.1);
    color: rgba(0,0,0,.6);
  }
}

.remove___34DNa {

  margin-left: 10px;
  color: #3d3d3d;
  font-weight: bold;
}

.suggestions___2RNee {

  position: absolute;
  width: 96%;
  border: 1px solid #b6b6b6;
  background: white;
  z-index: 10;

  ul {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    list-style: none;
  }

  li {
    padding: 5px 20px;

    &:hover {
      background-color: #009688;
      color: white;
      font-weight: bold;
    }
  }

  mark {
    color: inherit;
    background-color: inherit;
  }

}

.root___3yKDg {


  color: #333333;

}

.heading___28l67 {
  color: rgba(0,0,0,.8);
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.dateField___14NZ5 {
  margin-top: 20px;
}

.label___1p0vg {
  line-height: 22px;
  color: rgba(0, 0, 0, 0.498039);
  font-size: calc(1.2 * 10) + px;
  font-size: 1.2 + rem;
}

.help___3KAa8 {
  text-align: right;
  color: #b6b6b6;
}

.datepicker___3Nc1P {

}

.itemContainer___d7lzo {
  width: 100%;
  display: block;
}

.itemList___380sw {
  position: relative;

  list-style: none;

}.button___3tmfC {
  border-radius: 48px;
}

.toggleButton___1t80V {
}

.deleteButton___2ADQz {
}

.visibleIcon___3cB7- {

}

.inVisibleIcon___3NEnO {

}.root___3tmXH {
  color: #333333;
  min-height: 500px;
}

.title___3pshZ {
  color: rgba(0,0,0,.8);
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 5px;
}.root___1-3Re {
  margin: 20px auto;
  padding: 10px 15px;
  border: 1px solid #b6b6b6;
  background: white;
  z-index: 1;
}.root___1Nc_D {
  margin: 20px auto;
  padding: 10px 15px;
  border: 1px solid #b6b6b6;
  background: white;
  z-index: 1;
}
.root___1GONa {

}

.heading___3z-Um {

}

.error___29st_ {
  font-weight: bold;
  color: #D32F2F;
}.root___1aOrv {

}

.heading___3F7ic {

}

.error___xJ9qB {
  font-weight: bold;
  color: #D32F2F;
}