.root___1HE_k {
  margin-left: 24px;
  margin-right: 24px;
  position: relative;
}
.fontXXSmall___3I60a {
  font-size: 10px;
  font-size: 1rem;
}

.fontXSmall___1ziQ7 {
  font-size: 12px;
  font-size: 1.2rem;
}

.fontSmall___2Ut97 {
  font-size: 14px;
  font-size: 1.4rem;
}

.fontMedium___ZfAj_ {
  font-size: 16px;
  font-size: 1.6rem;
}

.fontLarge___2nc55 {
  font-size: 18px;
  font-size: 1.8rem;
}

.fontXLarge___3Rhmn {
  font-size: 20px;
  font-size: 2.0rem;
}

.fontXXLarge___2ftsA {
  font-size: 25px;
  font-size: 2.5rem;
}








.clearFloat___2h9If::after {
  content: "";
  display: block;
  clear: both;
}

.resetUlDefaultStyle___2OVg0 {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  list-style: none;
}

.hoverAnimation___2Sap3 {
  -webkit-transition: 0.5s;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    background-color: lightgray !important;
    opacity: 0.3;
  }
}

.strongHoverOpaque___1q3iI {
  -webkit-transition: 0.5s;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.bottomBorder___1B_N3 {
  border-bottom: 1px solid #b6b6b6;
}

.headerLabel___7_6E5 {
  color: #B3B3B3;
}
.button___10xiH {
  border-radius: 48px;
}

.toggleButton___1Hcba {
}

.deleteButton___1lTK2 {
}

.visibleIcon___2bPJO {

}

.inVisibleIcon___3sdb2 {

}.root___1OTNU {
  display: -webkit-box;
  display: flex;
  float: right;
  color: #B3B3B3,
}

.text___2EOzN {
  line-height: 48px;
}.root___hErPu {
  margin-top: 20px;
}.root___2Khya {
  margin: 0 2.5%;
}

.button___24rEr {
  border-radius: 48px;
}

.icon___3_dY4 {
  width: 100%;
  height: 100%;
}.root___17ynZ {
  margin-top: 50px;
}

.list___2jWyB {
  list-style: none;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  padding: 0;
  width: 70%;
  margin: 0 15%;
}.root___1PGHE {

}

.list___3_xBP {
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: 10;
}

.listButton___3IgCX {
  border-radius: 24px;
}


.topButton___tepfm {

}

.upButton___idC0M {

}

.bottomButton___2OEb4 {

}

.downButton___3pxaM {

}.heading___13nFG {

}

.subHeading___3jL8f {

}

.imageFrame___nYtRw {

}.root___Gqu-l {

}

.authorName___2v-TB {

}

.header___fmfvT {

}

.screenName___3DyJ4 {

}

.description___3zqdF {

}.root___3GNYq {

}

.block___P0jx1 {

}

.description___3S6VI {

}.root___VvpUC {

}

.title___3rgxy {

}.root___3XYh5 {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.editor___1e7gj {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.hidePlaceholder___298in {
  display: none;
}

.actionBox___2PXYw {

}

.actionButton___1npcy {

}

.styleButton___Vh-lm {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.activeButton___36tVT {
  color: #5890ff;

}

.controls___2Tx49 {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.blockquote___1h9zB {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.headerOne___U11Xx {

}

.headerTwo___3TIpo {

}

.headerThree___1fswz {

}

.headerFive___36oG1 {

}

.headerSix___eyoFI {

}

.undecoratedListItem___1f_AL {

}

.orderedListItem___2oBY2 {

}

.codeBlock___1nM79 {

}

.bold___Yt_ph {

}

.italic___3sEag {

}

.underline___3UmK- {

}

.code___1qH88 {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 2px;
}

.link___PWlm_ {
  color: #3b5998;
  text-decoration: underline;
}

.urlInputContainer___2a5_3 {
  margin-bottom: 10px;
}

.root___2f-Vz {

}.root___25Dvc {
  position: relative;
}

.inputText___1lw_a {

}

.header___1zo74 {
  color: #B3B3B3;
  font-size: calc(1.2 * 10) + px;
  font-size: 1.2 + rem;
}

.submitBox___1ZPSK {
  float: right;
}

.dropzone___3pgCT {
  width: 100%;
  height: 100px;
  border: 0;
  line-height: 100px;

  &:hover {
    cursor: pointer;
  }
}

.dropzoneHelp___1bba2 {
  text-align: center;
  font-size: calc(1.6 * 10) + px;
  font-size: 1.6 + rem;
}

.previweImage___3c2xR {

}

.errorMessage___3ZdsV {

}


.submitButton___1IhvC {

}


.cancelButton___4xTOU {

}/* All Margin */
.marginXXSmall___1-l67 {
  margin: 5px;
}

.marginXSmall___pTCFO {
  margin: 10px;
}

.marginSmall___u5RC_ {
  margin: 20px;
}

.marginMedium___3MnqG {
  margin: 30px;
}

.marginLarge___1Y3vu {
  margin: 40px;
}

/* Horizontal Margin */
.marginHorizontalXXSmall___2FGGd {
  margin-top: 5px;
  margin-bottom: 5px;
}

.marginHorizontalXSmall___2m9N9 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.marginHorizontalSmall___1qqun {
  margin-top: 20px;
  margin-bottom: 20px;
}

.marginHorizontalMedium___3XQ3G {
  margin-top: 30px;
  margin-bottom: 30px;
}

.marginHorizontalLarge___3HehQ {
  margin-top: 40px;
  margin-bottom: 40px;
}


/* Vertical Margin */
.marginVerticalXXSmall___3T9GB {
  margin-left: 5px;
  margin-right: 5px;
}

.marginVerticalXSmall___gWBkd {
  margin-left: 10px;
  margin-right: 10px;
}

.marginVerticalSmall___26NLP {
  margin-left: 20px;
  margin-right: 20px;
}

.marginVerticalMedium___2wrMR {
  margin-left: 30px;
  margin-right: 30px;
}

.marginVerticalLarge___3ecIO {
  margin-left: 40px;
  margin-right: 40px;
}


/* Top Margin */
.marginTopZero___1fAaV {
  margin-top: 0;
}

.marginTopXXSmall___Xbhgg {
  margin-top: 5px;
}

.marginTopXSmall___3Skq6 {
  margin-top: 10px;
}

.marginTopSmall___X6km9 {
  margin-top: 20px;
}

.marginTopMiddle___19Wtl {
  margin-top: 30px;
}

.marginTopLarge___3KvZp {
  margin-top: 40px;
}

.marginTopXLarge___1w4Hr {
  margin-top: 50px;
}

.marginTopXXLarge___245yx {
  margin-top: 100px;
}


/* Bottom Margin */
.marginBottomZero___3qx2U {
  margin-bottom: 0;
}

.marginBottomXXSmall___2mpBl {
  margin-bottom: 5px;
}

.marginBottomXSmall___1CqUs {
  margin-bottom: 10px;
}

.marginBottomSmall___3P-s8 {
  margin-bottom: 20px;
}

.marginBottomMiddle___2qT5s {
  margin-bottom: 30px;
}

.marginBottomLarge___26A0l {
  margin-bottom: 40px;
}

.marginBottomXLarge___2OwvG {
  margin-bottom: 50px;
}

.marginBottomXXLarge___3cDwV {
  margin-bottom: 100px;
}


/* Left Margin */
.marginLeftXXSmall___3CFEL {
  margin-left: 5px;
}

.marginLeftXSmall___1tUjC {
  margin-left: 10px;
}

.marginLeftSmall___2Q8No {
  margin-left: 20px;
}

.marginLeftMiddle___wJyrp {
  margin-left: 30px;
}

.marginLeftLarge___MaMtj {
  margin-left: 40px;
}

.marginLeftXLarge___3ZQep {
  margin-left: 50px;
}

.marginLeftXXLarge___181S7 {
  margin-left: 100px;
}


/* Right Margin */
.marginRightXXSmall___NU79B {
  margin-right: 5px;
}

.marginRightXSmall___3E8tf {
  margin-right: 10px;
}

.marginRightSmall___2DRNL {
  margin-right: 20px;
}

.marginRightMiddle___3ea7K {
  margin-right: 30px;
}

.marginRightLarge___2j0D9 {
  margin-right: 40px;
}

.marginRightXLarge___28jRc {
  margin-right: 50px;
}

.marginRightXXLarge___12BHy {
  margin-right: 100px;
}

.root___132mP {
  padding: 6px;
}

.header___3p-Kq {
}


.dropzone___1FLAt {
  width: 100%;
  margin-top: 10px;
  max-height: 100px;
}

.dropzoneActive___Q-CMT {
  backgroun-color: #009688;
  opacity: 0.3;
}

.placeholder___3Cp7q {
  display: block;
  width: 100%;
  line-height: 100px;
  color: #212121;
  font-size: calc(1.6 * 10) + px;
  font-size: 1.6 + rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.previewImage___8Qc-p {
  max-height: 100px;
}

.errorMessage___3tPC4 {
  color: #D32F2F;
}.root___2LWdG {

  position: relative;
  width: 100%;
  height: 72px;
  line-height: 24px;
}

.header___19elt {
}

.content___1d4Ra {

}

.tags___Q0egu {

}

.tagInput___28PFF {
  padding: 6px;

  input {
    height: 100%;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
    border: none;
  }
}

.selected___1ebGa {

}

.tag___2iHKb {

  padding: 3px;
  color: white;
  background-color: #009688;
  border: 1px solid #009688;
  border-radius: 3px;
}

.remove___34DNa {

  margin-left: 3px;
  color: white;
  font-weight: bold;
}

.suggestions___2RNee {

  position: absolute;
  width: 96%;
  border: 1px solid #b6b6b6;
  background: white;

  ul {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    list-style: none;
  }

  li {
    padding: 5px 20px;

    &:hover {
      background-color: #009688;
      color: white;
      font-weight: bold;
    }
  }

  mark {
    color: inherit;
    background-color: inherit;
  }

}

.root___3yKDg {
  margin: 20px auto;
  padding: 10px 15px;
  border: 1px solid #b6b6b6;
  background: white;
  z-index: 1;
}

.heading___28l67 {
  color: #212121;
}

.label___1p0vg {
  color: #B3B3B3;
  font-size: calc(1.2 * 10) + px;
  font-size: 1.2 + rem;
}

.help___3KAa8 {
  text-align: right;
  color: #b6b6b6;
}

.datepicker___3Nc1P {

}

.itemContainer___d7lzo {

}

.itemList___380sw {
  position: relative;
  list-style: none;
}.root___1-3Re {
  margin: 20px auto;
  padding: 10px 15px;
  border: 1px solid #b6b6b6;
  background: white;
  z-index: 1;
}.root___1GONa {

}

.heading___3z-Um {

}

.error___29st_ {
  font-weight: bold;
  color: #D32F2F;
}.root___1aOrv {

}

.heading___3F7ic {

}

.error___xJ9qB {
  font-weight: bold;
  color: #D32F2F;
}