.root {
  position: relative
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  font-size: 1.6rem;
  color: #fff;
}

.alert--error {
  composes: alert;
  background-color: red;
}

.alert--success {
  composes: alert;
  background-color: green;
}