.root {
  position: relative
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  line-height: 56px;
  font-size: 1.6rem;
  color: #fff;
  z-index: 10000;
  text-align: center;
}

.error {
  composes: alert;
  background-color: #CE4844;
}

.success {
  composes: alert;
  background-color: #5CB85C;
}