body {
  font-family: 'Roboto', sans-serif;
  min-height: 1000px;
  background: $background-color;
}


html {
  font-size: 62.5%;
}


input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
}