body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 1000px;
  box-sizing: border-box;
}



html {
  font-size: 62.5%;
}

h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #69808C;
}

p {
  margin: 0;
}


input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
}

input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  &::-webkit-search-decoration {
    display: none;
  }
  &::focus {
    outline-offset: -2px;
  }
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}