@value colors: 'shared/css/colors.scss';
@value border-color, title-color from colors;

.root {
  width: 47%;
  margin-left: 3%;
}

.title {
  composes: fontXXLarge from 'shared/css/fonts.scss';

  border-bottom: 1px solid border-color;
  font-weight: 700;
  color: title-color;
  letter-spacing: -.02em;
}

.button {
  composes: primaryButton from 'shared/css/components.scss';
}

.image {
  composes: marginVerticalSmall from 'shared/css/margins.scss';

  display: block;
  width: 100%;
}
