.heading {
  composes: titleText from 'shared/css/components.scss';
}

.label {
  composes: label from 'shared/css/components.scss';
}

.formGroup {
  composes: formGroup from 'shared/css/components.scss';
}

.button {
  composes: primaryButtonLarge from 'shared/css/components.scss';

  position: absolute;
  bottom: 20px;
  right: 15px;
}