.root {
color: rgba(0,0,0,.6);
  background: rgba(0,0,0,.05);
  font-weight: 400;
  font-style: normal;
  color: rgba(0,0,0,.44);
  font-size: 13px;
  letter-spacing: 0;
  text-decoration: none;
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  padding: 5px 10px;
}