.fontXXSmall {
  font-size: 10px;
  font-size: 1rem;
}

.fontXSmall {
  font-size: 12px;
  font-size: 1.2rem;
}

.fontSmall {
  font-size: 14px;
  font-size: 1.4rem;
}

.fontMedium {
  font-size: 16px;
  font-size: 1.6rem;
}

.fontLarge {
  font-size: 18px;
  font-size: 1.8rem;
}

.fontXLarge {
  font-size: 20px;
  font-size: 2.0rem;
}

.fontDescription {
  font-size: 21px;
  font-size: 2.1rem;
}

.fontXXLarge {
  font-size: 24px;
  font-size: 2.4rem;
}

.fontTitle {
  font-size: 28px;
  font-size: 2.8rem;
}

.fontHeading {
  font-size: 32px;
  font-size: 3.2rem;
}


.contentFont {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

.descriptionFont {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}

.selectionFont {
  font-family: 'Helvetica', sans-serif;
}







