@value colors: 'shared/css/colors.scss';
@value list-border-color from colors;

.root {
  composes: marginTopMedium from 'shared/css/margins.scss';

  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid list-border-color;
}

.title {
  composes: titleText from 'shared/css/components.scss';
}


.imageBlock {
  composes: marginTopSmall from 'shared/css/margins.scss';
}

.image {
  max-width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.caption {
  composes: caption from 'shared/css/components.scss';
}

.description {
  composes: marginBottomLarge from 'shared/css/margins.scss';
  composes: fontMedium from 'shared/css/fonts.scss';
  composes: descriptionFont from 'shared/css/fonts.scss';

  padding-bottom: 5px;
  line-height: 1.6;
}

.button {
  composes: primaryButton from 'shared/css/components.scss';

  position: absolute;
  bottom: 1.5%;
  right: 1%;
}
