@value weak-opaque: 0.7;
@value moderate-opaque: 0.5;
@value strong-opaque: 0.3;

@value quick-transition: 0.5s;

.resetUlDefaultStyle {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  list-style: none;
}

.hoverAnimation {
  transition: quick-transition;

  &:hover {
    cursor: pointer;
    background-color: lightgray !important;
    opacity: weak-opaque;
  }
}

.strongHoverOpaque {
  transition: quick-transition;

  &:hover {
    cursor: pointer;
    opacity: weak-opaque;
  }
}


