.root {
  border-top: 1px solid #ddd;
  position: relative;
  margin-top: 15px;
  padding: 10px 0;
  width: 100%;
  font-size: 1.8rem;
  line-height: 1.6;
  display: inline-flex;
  min-height: 80px;
  overflow: hidden;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

.box {
  display: inline-flex;
  width: 50%;
  color: #8F8F8F;
}

.prevBox {
  composes: box;
  text-align: left;
}

.prevTitle {
  width: 85%;
  margin: auto 0;
  vertical-align: middle;

}

.nextTitle {
  width: 85%;
  margin: auto 0;
  vertical-align: middle;
}

.nextBox {
  composes: box;
  text-align: right;

}
