.root {
  min-height: 500px;
}

.image {
  composes: marginBottomMedium from '../../../../shared/css/margins.scss';
  display: block;
  max-width: 100%;
}
.introduction {

}

.description {

}


.listContainer {
  display: flex;
  margin-top: 30px;
  composes: marginBottomMedium from '../../../../shared/css/margins.scss';

}