.root {

}

.image {
  composes: marginBottomMedium from '../../../../shared/css/margins.scss';
  display: block;
  max-width: 100%;
}


.list {
  display: flex;
  margin-top: 30px;
  composes: marginBottomMedium from '../../../../shared/css/margins.scss';

}