---
http_interactions:
- request:
    method: post
    uri: https://<TWITTER_CONSUMER_KEY>:<TWITTER_CONSUMER_SECRET>@api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 25 Apr 2016 02:32:07 GMT
      Ml:
      - S
      Status:
      - 200 OK
      X-Connection-Hash:
      - 8b520533af94373865cbf52cba4d0a57
      X-Response-Time:
      - '141'
      X-Transaction:
      - 6aebf6a10040c4d4
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAHNSuwAAAAAAGFbNzjUO75%2FvTUwXdqUMrBwvdTg%3DRR76PZPdkRVHVCFZtJgiEd319EzYJBQzlcVZnfvRvuptzql7pd"}'
  recorded_at: Mon, 25 Apr 2016 02:32:07 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/692554078015098880.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAHNSuwAAAAAAGFbNzjUO75%2FvTUwXdqUMrBwvdTg%3DRR76PZPdkRVHVCFZtJgiEd319EzYJBQzlcVZnfvRvuptzql7pd
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 25 Apr 2016 02:32:07 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 24a48006be607c4b6ec2e4a012e06bca
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1461552427'
      X-Response-Time:
      - '43'
      X-Transaction:
      - 0fd39710932e1844
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Thu Jan 28 03:45:33 +0000 2016","id":692554078015098880,"id_str":"692554078015098880","text":"\u5922\u3092\u6c42\u3081\u7d9a\u3051\u308b\u52c7\u6c17\u3055\u3048\u3042\u308c\u3070\u3001\n\u3059\u3079\u3066\u306e\u5922\u306f\u5fc5\u305a\u5b9f\u73fe\u3067\u304d\u308b\u3002\n\n\u3010\u30a6\u30a9\u30eb\u30c8\u30fb\u30c7\u30a3\u30ba\u30cb\u30fc\u3011
        https:\/\/t.co\/FCtyCs2R5f","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":692554063184052226,"id_str":"692554063184052226","indices":[45,68],"media_url":"http:\/\/pbs.twimg.com\/media\/CZxyQEvWwAIq8Xs.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CZxyQEvWwAIq8Xs.jpg","url":"https:\/\/t.co\/FCtyCs2R5f","display_url":"pic.twitter.com\/FCtyCs2R5f","expanded_url":"http:\/\/twitter.com\/disney_mickey55\/status\/692554078015098880\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":398,"resize":"fit"},"large":{"w":694,"h":460,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":225,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":692554063184052226,"id_str":"692554063184052226","indices":[45,68],"media_url":"http:\/\/pbs.twimg.com\/media\/CZxyQEvWwAIq8Xs.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CZxyQEvWwAIq8Xs.jpg","url":"https:\/\/t.co\/FCtyCs2R5f","display_url":"pic.twitter.com\/FCtyCs2R5f","expanded_url":"http:\/\/twitter.com\/disney_mickey55\/status\/692554078015098880\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":398,"resize":"fit"},"large":{"w":694,"h":460,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":225,"resize":"fit"}}}]},"truncated":false,"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":4719500959,"id_str":"4719500959","name":"\u30c7\u30a3\u30ba\u30cb\u30fc\u306e\u540d\u8a00\u96c6","screen_name":"disney_mickey55","location":"","description":"\uff3c\u5922\u306e\u56fd\u3078\u3088\u3046\u3053\u305d\uff0f
        disney\u597d\u304d\u306e\u65b9\u306f\u662f\u975e\u30d5\u30a9\u30ed\u30fc&\u30ea\u30c4\u30a4\u30fc\u30c8\u304a\u9858\u3044\u3057\u307e\u3059\\\u2661\/","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":156,"friends_count":57,"listed_count":1,"created_at":"Wed
        Jan 06 17:06:34 +0000 2016","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":111,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/684791857562304512\/v_FCK8fN_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/684791857562304512\/v_FCK8fN_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/4719500959\/1452102076","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":4,"favorited":false,"retweeted":false,"possibly_sensitive":false,"possibly_sensitive_appealable":false,"lang":"ja"}'
  recorded_at: Mon, 25 Apr 2016 02:32:07 GMT
[...]
