@value colors: 'shared/css/colors.scss';
@value lead-sentence-color from colors;

.root {
  composes: marginBottomXXSmall from 'shared/css/margins.scss';
  composes: fontSmall from 'shared/css/fonts.scss';
  composes: selectionFont from 'shared/css/fonts.scss';

  user-select: none;
}

.button {
  composes: marginRightXSmall from 'shared/css/margins.scss';

  display: inline-block;
  padding: 2px 0;
  color: lead-sentence-color;
  cursor: pointer;
}

