# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: mysql2
  encoding: utf8mb4
  charset: utf8mb4
  collation: utf8mb4_general_ci
  pool: 5
  username: root
  password:
  port: 3306
  host: localhost

development:
  <<: *default
  database: portfolio_development

test:
  <<: *default
  database: portfolio_test

staging:
  <<: *default
  database: portfolio_staging
  host: <%= ENV['RDS_HOST'] %>
  username: <%= ENV['RDS_USERNAME'] %>
  password: <%= ENV['RDS_PASSWORD'] %>

production:
  <<: *default
  database: portfolio_production
  host: <%= ENV['RDS_HOST'] %>
  username: <%= ENV['RDS_USERNAME'] %>
  password: <%= ENV['RDS_PASSWORD'] %>
