.root {
  position: relative;
}

.list {
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: 10;
  margin-top: -16px;
}

.listButton {
  composes: hoverAnimation from "shared/styles/mixins.scss";
  border-radius: 24px;
}
