.root {

}

.title {
  font-size: 3.0rem;
  margin-left: -1.75px;
  line-height: 1.12;
  letter-spacing: -.02em;
  font-weight: 700;
  color: #1D1E1F;
}

.dateTime {
  padding: 10px 0;
  display: table-cell;
}

.time {
  margin-left: 5px;
  vertical-align: middle;
  color: #8F8F8F;
  font-size: 1.2rem;
}

.tagContainer {
  width: 100%;
  margin: 15px 0;

}