.root___m7w4F {
  margin-left: 24px;
  margin-right: 24px;
  position: relative;
}
.root___3qms7 {
  width: 100%;
  height: 100px;
}

.title___1To53 {
  font-size: 18px;

}

.text___3ELeQ {

}

.tagList___3E_N4 {

}

.tagItem___pAwLO {

}

.publishDate___3QdX0 {

}.root___2Eku3 {

}