@value colors: '../../../css/colors.scss';
@value label-color from colors;

.root {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 1.8rem;
  padding: 15px;
  composes: marginHorizontalXSmall from '../../../css/margins.scss';
}

.editor {
  /*border-top: 1px solid #ddd;*/
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}


.hidePlaceholder {
  display: none;
}

.h2 {
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin-left: -2.25px;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0,0,0,.8);
  -webkit-font-smoothing: antialiased;

  & + .text {
    margin-top: 30px;
  }
}

.h3 {
  color: rgba(0,0,0,.44);
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  margin-left: -1.75px;
  line-height: 1.22;
  letter-spacing: -.022em;
  word-wrap: break-word;

  & + .text {
    margin-top: 30px;
  }

}

.text {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.8);
}


.blockquote {
  composes: text;
  background: #f3f3f3;
  padding: 2rem;
  margin: 3rem 0;
}


.caption {
  composes: text;
  border-left: 3px solid rgba(0,0,0,.8);
  padding-left: 20px;
  margin-left: -23px;
  padding-bottom: 3px;
  margin-top: 30px;
}

.unorderedListItem {
  composes: text;
  padding-left: 5px;
}

.orderedListItem {
  composes: text;
  padding-left: 5px;
}

.urlInputContainer {
  composes: text;
  margin-bottom: 10px;
}
