.root {
  composes: marginHorizontalXSmall from 'shared/css/margins.scss';
  composes: marginVerticalZero from 'shared/css/margins.scss';
}

.text {
  composes: errorText from 'shared/css/components.scss';
}