@value colors: "../../../css/colors.scss";
@value fonts: "../../../css/fonts.scss";

@value border-color, label-color, border-color, text-color from colors;
@value font-xx-small from fonts;

.root {
  margin: 20px auto;
  padding: 10px 15px;
  border: 1px solid border-color;
  background: white;
  z-index: 1;
}
