.marginXXSmall {
  margin-top: 5px;
  margin-bottom: 5px;
}

.marginXSmall {
  margin-top: 10px;
  margin-bottom: 10px;
}

.marginSmall {
  margin-top: 20px;
  margin-bottom: 20px;
}

.marginMiddle {
  margin-top: 30px;
  margin-bottom: 30px;
}

.marginLarge {
  margin-top: 40px;
  margin-bottom: 40px;
}

.marginTopZero {
  margin-top: 0;
}
.marginTopXXSmall {
  margin-top: 5px;
}

.marginTopXSmall {
  margin-top: 10px;
}

.marginTopSmall {
  margin-top: 20px;
}

.marginTopMiddle {
  margin-top: 30px;
}

.marginTopLarge {
  margin-top: 40px;
}

.marginTopXLarge {
  margin-top: 50px;
}

.marginTopXXLarge {
  margin-top: 100px;
}

.marginBottomXXSmall {
  margin-bottom: 5px;
}

.marginBottomXSmall {
  margin-bottom: 10px;
}

.marginBottomSmall {
  margin-bottom: 20px;
}

.marginBottomMiddle {
  margin-bottom: 30px;
}

.marginBottomLarge {
  margin-bottom: 40px;
}

.marginBottomXLarge {
  margin-bottom: 50px;
}

.marginBottomXXLarge {
  margin-bottom: 100px;
}
