.root {
  margin-top: 50px;
  display: flex;
  height: 60px;
  vertical_align: middle;
}

.list {
  list-style: none;
  display: flex;
  vertical_align: middle;
  flex-direction: row;
  padding: 0;
  margin: 8px 0;
}