.root {
  margin: 20px 0;
  display: flex;
  height: 60px;
  vertical-align: middle;
}

.list {
  list-style: none;
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  padding: 0;
  margin: 8px 0;
}