.root {
  min-height: 500px;
}

.title {
  composes: marginBottomXSmall from 'shared/css/margins.scss';
  composes: titleText from 'shared/css/components.scss';
}

.text {
  composes: descriptionText from 'shared/css/components.scss';
}