.root {
  color: #333333;
  min-height: 500px;
}

.title {
  color: rgba(0,0,0,.8);
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.text {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0, 0, 0, 0.8);
}