@value colors: "../../../css/colors.scss";
@value fonts: "../../../css/fonts.scss";

@value border-color, label-color, border-color, text-color from colors;
@value font-xx-small from fonts;

.root {
  composes: row from '../../../css/flexboxgrid.scss';
  margin: 20px auto;
  padding: 10px 15px;
  border: 1px solid border-color;
  background: white;
  z-index: 1;
}

.heading {
  color: text-color;
}

.label {
  color: label-color;
  font-size: calc(font-xx-small * 10) + px;
  font-size: font-xx-small + rem;
}

.help {
  text-align: right;
  color: border-color;
}

.datepicker {

}

.itemContainer {

}

.itemList {
  composes: resetUlDefaultStyle from '../../../css/mixins.scss';
  position: relative;
  list-style: none;
}