.heading {
  composes: titleText from 'shared/css/components.scss';
}

.dateField {
  composes: marginTopSmall from 'shared/css/margins.scss';
}

.label {
  composes: label from 'shared/css/components.scss';
}

.itemBlock {
  display: block;
  width: 100%;
}

.list {
  composes: resetUlDefaultStyle from 'shared/css/mixins.scss';
  position: relative;
  list-style: none;
}

.button {
  composes: primaryButtonLarge from 'shared/css/components.scss';

  position: absolute;
  bottom: 20px;
  right: 15px;
}